*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
@media only screen and  (max-width: 660px) {
    .movie-input{
        width: 300px !important;
  }

}

@media only screen and  (max-width: 530px) {
    .movie-input{
        width: 230px !important;
  }

}
@media only screen and  (max-width: 455px) {
    .movie-input{
        width: 200px !important;
  }

}
